@font-face {
  font-family: cocogoose;
  src:
    url(fonts/cocogoose.ttf),
    url(fonts/cocogoose-bold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: #000;
}

.logo {
  content: url('./icons&imgs/dynasty-logo-plain.png');
  width: 50px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
}
